* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f4f5f6;
}
header main{
    height: 87vh;
}
a:focus, a:active {
    outline: 0;
}
ul {
    list-style: none;
}
a, u {
    text-decoration: none!important;
}
.card-title a{
    color: black!important;
}
#panel_content {
    display: flex;
    position: relative;
    top: 2rem;
}